/* ===== PREMIUM NAVBAR ===== */

nav{
position:fixed;
top:0;
width:100%;
background:#08152b;
padding:20px 80px;
display:flex;
justify-content:space-between;
align-items:center;
z-index:1000;
transition:all 0.3s ease;
}

nav.scrolled{
background:#071226;
box-shadow:0 8px 30px rgba(0,0,0,0.4);
padding:15px 80px;
}

nav img{
height:45px;
}

nav div{
display:flex;
align-items:center;
gap:35px;
}

nav a{
color:#E5E7EB;
text-decoration:none;
font-size:15px;
font-weight:500;
position:relative;
transition:0.3s ease;
}

nav a::after{
content:'';
position:absolute;
left:0;
bottom:-6px;
width:0%;
height:2px;
background:#C81E3A;
transition:0.3s ease;
}

nav a:hover{
color:white;
}

nav a:hover::after{
width:100%;
}

/* ===== MOBILE NAV ===== */

@media(max-width:768px){

nav{
padding:15px 20px;
flex-direction:column;
align-items:flex-start;
}

nav div{
flex-direction:column;
align-items:flex-start;
gap:15px;
margin-top:15px;
}

nav a{
font-size:16px;
}

}
